/* styles.css */
/* Fondo GIF para toda la pantalla */
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Altura total de la pantalla */
  background: url('../imagenes/marauders-map-harry-potter.gif') no-repeat center center fixed;
  background-size: cover; /* Hace que el GIF cubra toda la pantalla */
  color: white; /* Para que el texto se vea sobre el fondo */
  font-family: Arial, sans-serif;
}

/* Asegura que los contenedores tengan fondo semi-transparente para que se lea el texto */
.container {
  background: rgba(0, 0, 0, 0.6); /* Negro semitransparente */
  padding: 30px;
  border-radius: 10px;
}

#quiz-container {
  max-width: 600px;
  margin: 0 auto;
}

#question {
  font-size: 1.5rem;
}

#answers button {
  background-color: #343a40;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-align: left;
}

#answers button:hover {
  background-color: #495057;
}

#next-btn {
  width: 100%;
}

#result-container {
  max-width: 600px;
  margin: 0 auto;
}
.images-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.images-grid img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.options-grid button {
  width: 100%;
}


.options-grid button {
  width: 100%;
}

.answers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.answer-card {
  text-align: center;
}

.answer-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.answer-card button {
  width: 100%;
}
